%sfpd-reg {
  font-family: 'SFProDisplay-Regular', sans-serif;
  font-weight: 400;
}

%sfpd-bold {
  font-family: 'SFProDisplay-Bold', sans-serif;
  font-weight: 700;
}

%sfpd-med {
  font-family: 'SFProDisplay-Medium', sans-serif;
  font-weight: 500;
}
