%sfpd-reg {
  font-family: 'SFProDisplay-Regular', sans-serif;
  font-weight: 400;
}

%sfpd-bold {
  font-family: 'SFProDisplay-Bold', sans-serif;
  font-weight: 700;
}

%sfpd-med {
  font-family: 'SFProDisplay-Medium', sans-serif;
  font-weight: 500;
}

%red-color {
  color: #ed1915;
}

%gray-color {
  color: #e2e0e0;
}

%black-color {
  color: #181414;
}