%sfpd-reg {
  font-family: 'SFProDisplay-Regular', sans-serif;
  font-weight: 400;
}

%sfpd-bold {
  font-family: 'SFProDisplay-Bold', sans-serif;
  font-weight: 700;
}

%sfpd-med {
  font-family: 'SFProDisplay-Medium', sans-serif;
  font-weight: 500;
}

$color-red: #ed1915;

$color-l-gray: #e2e0e0;

$color-gray: #888888;

$color-black: #181414;
